<ion-header>
  <ion-toolbar class="pokemon-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading" class="pokemon-background">
  <ion-card class="pokemon-card pokemon-detail-card">
    <div class="pokemon-detail-image-wrapper">
      <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" class="pokemon-image large" />
    </div>

    <ion-card-header>
      <ion-card-title class="pokemon-name-title">
        {{ pokemon.name | titlecase }} <span class="pokemon-id">#{{ pokemon.id }}</span>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="info-section-title">Informações</div>
      <ion-list class="pokemon-info-list">
        <ion-item *ngFor="let info of basicInfo">
          <ion-label><strong>{{ info.label }}</strong></ion-label>
          <ion-text [innerHTML]="info.value"></ion-text>
        </ion-item>
      </ion-list>

      <div class="info-section-title">Habilidades</div>
      <ion-list class="pokemon-info-list">
        <ion-item *ngFor="let skill of skillsInfo">
          <ion-label><strong>{{ skill.label }}</strong></ion-label>
          <ion-text [innerHTML]="skill.value"></ion-text>
        </ion-item>
      </ion-list>

      <div class="info-section-title">Estatísticas</div>
      <ion-list class="pokemon-info-list">
        <ion-item *ngFor="let stat of statsInfo">
          <ion-label><strong>{{ stat.label }}</strong></ion-label>
          <ion-text>{{ stat.value }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="isLoading" class="pokemon-background">
  <ion-spinner name="crescent" class="ion-margin"></ion-spinner>
</ion-content>
