.pokemon-background {
  --ion-background-color: linear-gradient(135deg, #78C850, #A7DB8D); // verde grama
}

.pokemon-toolbar {
  --background: #ef5350;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
}

.pokemon-card {
  background: #fefefe;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  transition: transform 0.2s;
  
  &:hover {
    transform: scale(1.05);
  }
}

.pokemon-image {
  border: 4px solid #ffcb05;
  border-radius: 50%;
  padding: 8px;
  background: white;
  width: 100px;
  height: 100px;
}

ion-card-title {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.8rem;
  color: #333;
  padding-top: 8px;
}

.pokemon-button {
  position: relative;
  background: linear-gradient(to bottom, #ff0000 50%, #ffffff 50%);
  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 12px auto;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  text-align: center;
  line-height: 1.1;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    background: #000;
    transform: translateY(-50%);
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    box-shadow: 0 0 0 2px #000;
  }

  &:hover {
    transform: scale(1.1) rotate(5deg);
  }
}


.load-more-button {
  background: #ffcb05;
  color: #333;
  border-radius: 8px;
  font-weight: bold;
  padding: 12px;
  margin: 16px auto;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);

  &:hover {
    background: #f5b500;
  }
}
