@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pokemon-background {
  --ion-background-color: linear-gradient(135deg, #78C850, #A7DB8D); // verde grama
}

.pokemon-toolbar {
  --background: #ef5350;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
}

$type-colors: (
  grass: #78c850,
  fire: #f08030,
  water: #6890f0,
  bug: #a8b820,
  poison: #a040a0,
  flying: #a890f0,
  electric: #f7d02c,
  psychic: #f95587,
  normal: #a8a878
);

@each $type, $color in $type-colors {
  .type-#{$type} {
    border-color: $color !important;
  }

  .pokemon-image.type-#{$type} {
    border-color: $color !important;
    box-shadow: 0 0 12px rgba($color, 0.5);
  }
}
